#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.bubbles img{
  width:50px;
  animation:bubble 7s linear infinite;
  
}
.bubbles{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -50px;
}

@keyframes bubble{
  0%{
    transform :translateY(0);
    opacity: 0;
  }
  25%{
    opacity: .6;
  }
  50%{

    opacity: .2;
  }
  70%{

    opacity: .6;
  }
  100%{
    transform :translateY(-90vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1){
  animation-delay:2s;
  width: 25px;
}
.bubbles img:nth-child(2){
  animation-delay:1s;
}
.bubbles img:nth-child(3){
  animation-delay:3s;
  width: 25px;
}
.bubble img:nth-child(4){
  animation-delay:4.5s;
}
.bubbles img:nth-child(5){
  animation-delay:3s;
}
.bubbles img:nth-child(6){
  animation-delay:6s;
  width: 20px;
}
.bubbles img:nth-child(7){
  animation-delay:7s;
  width: 45px;
}